.login-input {
  font-weight: bold;
}

#top-nav {
  display: flex;
  width: 75%;
  justify-content: space-evenly;
  margin: auto;
}

.pagination {
  justify-content: center;
}

.nav-link {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  z-index: 1;
  color: whitesmoke !important;
}
.nav-link:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: rgba(8, 14, 55, 0.7);

  visibility: none;
  opacity: 0;
  z-index: -1;
}
.nav-link:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.home-link {
  text-decoration: none;
}
/* .home-link:hover {
  color: #f1c40f;
} */

.login-input {
  width: 50%;
  margin: auto;
}

.nav-items {
  display: flex;
}

.welcome {
  font-weight: bold;
}

body {
  height: 100%;
  background: url(./images/maxresdefault.jpg) no-repeat center center fixed;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-badge {
  font-size: 25px;
}

@keyframes MoveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 20px;
  }
}

#rimams-logo {
  animation: MoveUpDown 3s linear infinite;
  height: 60%;
  width: 60%;
}

.fade-in-logo {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55px;
  animation: fadeIn 5s;
  -webkit-animation: fadeIn 2s;
  -moz-animation: fadeIn 2s;
  -o-animation: fadeIn 2s;
  -ms-animation: fadeIn 2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.login-container,
.register-container,
.forum-container {
  background-color: rgba(3, 3, 3, 0.5);
  color: rgb(223, 157, 35);
  margin: 15px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  border: 10px solid rgba(0, 0, 0, 0.3);
}
